{
    "plugins": [
        "transform-strict-mode"
    ],
    "presets": [
        ["env", {
            "targets": {
                "node": "current"
            },
            "useBuiltIns": true
        }]
    ],
    "retainLines":  true
}
