*config.json
*.log
*node_modules*
.idea/
nohup.out
.ntvs_analysis.dat
*.njsproj
*.sln
obj/Debug/Kassy.njsproj.FileListAbsolute.txt
modules/kpm_*
typings/
tsd.json
*.vs*
obj/*
/bin/Microsoft.NodejsTools.WebRole.dll
