language: node_js
os:
    - linux
    - osx
node_js:
    - "0.12"
    - "4.0"
    - "4.1"
    - "4.2"
    - "5"
    - "6"
before_script:
    - npm install grunt-cli -g
env:
    - CXX=g++-4.8
addons:
    apt:
        sources:
            - ubuntu-toolchain-r-test
        packages:
            - g++-4.8
